.mobile_nav_none {
  display: none;
}

.mobile_nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  background-color: #333232;
  z-index: 10;
  font-size: 20px;
  padding: 30px 15px;
}

.mobile_nav ul {
  list-style-type: none;
}

.mobile_nav ul li {
  margin-top: 15px;
}

@media (max-width: 991px) {
  .hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .hamburger span {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 5px;
    margin-top: 4px;
    background-color: #fff;
  }
  .hamburger_close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .hamburger_close span {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 5px;
    margin-top: 4px;
    background-color: tomato;
  }
}
